{% extends 'base.html' %}

{% block title %} Host a game {% endblock %}
{% block script %} 
    <script type="text/javascript" src="{{url_for('static', filename='js/host.js')}}"></script> 
{% endblock %}

{% block content %} 
    <div class="container text-center" style="font-family: Raleway">
        <h1 class="display-6 mt-5">Your game code is</h1>

        <div id="game-code-div" class="hstack gap-2 mx-auto pt-2" style="width: max-content" >
            <input type="text" id="game-code" class="border-dark rounded text-center" value="m@ir" style="width: 8rem"disabled> 
            <button type="button" id="copy-code" class="btn btn-dark btn-sm" style="font-family: Poppins">
                Copy
            </button>
        </div>

        <p class="lead pb-3 mt-3">Share with your friends to let them join the game</p>

        <div id="spinner-div" class="mt-5">
            <span class="spinner-border text-info" style="width: 3rem; height: 3rem;"></span>
            <p class="opacity-75">Waiting for your opponent</p>
        </div>

        <a href="{{url_for('index')}}">
            <button type="button" id="cancel-btn" class="btn btn-danger mt-3" style="font-family: Poppins">
                Cancel game
            </button>
        </a>
   </div>
{% endblock %}
