attrs==22.2.0
Automat==22.10.0
cffi==1.15.1
constantly==15.1.0
cryptography==39.0.0
hyperlink==21.0.0
idna==3.4
incremental==22.10.0
pycparser==2.21
six==1.16.0
Twisted==22.10.0
txaio==23.1.1
typing_extensions==4.4.0
zope.interface==5.5.2
