.game-board
{
    box-sizing: border-box;
    width: max-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border: inset 5px solid red;
    border-radius: 1em;
}

.tile
{
    cursor: pointer;
    background: #F7F7F7;
    height: 6rem;
    width: 6rem;
}

.xo-mark
{
    font-family: 'Permanent Marker';
    font-size: 4rem;
    text-align: center;
    height: 100%;
}

.tile:nth-child(even)
{
}

.tile:nth-child(1){
    border-top-left-radius: 1em;
}

.tile:nth-child(3){
    border-top-right-radius: 1em;
}

.tile:nth-child(7){
    border-bottom-left-radius: 1em;
}

.tile:nth-child(9){
    border-bottom-right-radius: 1em;
}
